<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
     Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="wave">

  </div>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col  size-sm="6" offset-sm="3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRs7QPGzBefaOz5xC_y7q_Ncne7Kd8J8f85xw&usqp=CAU">
        <h1>Jose Luna</h1>

      <div>
        <p class="p-upper" >Lorting  h industry's standard dummy text ever since Lorting  h industry's standard dummy text ever sinceLorting  h industry's standard dummy text ever since </p>
      </div>
      </ion-col>
    </ion-row>
  <ion-row class="ion-text-center">
    <ion-col>
      <div>  <p class="blue-p">School</p> <p class="p-right">UC Davis</p></div>
    </ion-col>
    <ion-col>
      <div>  <p class="blue-p">Major</p> <p class="p-right">Statistic</p></div>
    </ion-col>
    <ion-col>
      <div>  <p class="blue-p">Grad</p> <p class="p-right">2021</p></div>
    </ion-col>

  </ion-row>
  </ion-grid>
<ion-grid>
    <ion-row>
      <ion-col   size-sm="6" offsetSm="3">
        <ion-list>
          <ion-list-header>
            Recent Activities
          </ion-list-header>

          <ion-card>
            <ion-card-content>
              <ion-item  lines="none">
                <ion-avatar slot="start">
                  <img src="https://img.icons8.com/officel/80/000000/circled-user-male-skin-type-6.png"/>
                </ion-avatar>
                <ion-label>
                  <h2>Jose Luna</h2>
                  <h3> Your Question </h3>
                  <p>Hello,  I think  the  nest answerds for  that eill  be  to  do  the n esty </p>
                </ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-item  lines="none">
                <ion-avatar slot="start">
                  <img src="https://img.icons8.com/officel/80/000000/circled-user-female-skin-type-4.png"/>
                </ion-avatar>
                <ion-label>
                  <h2>Jose Luna</h2>
                  <h3> Your Question </h3>
                  <p>Hello,  I think  the  nest answerds for  that eill  be  to  do  the n esty </p>
                </ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>







  </ion-grid>


</ion-content>
