<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      Question
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>


  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">




  <ion-grid>
    <ion-row>
      <ion-col  size-sm="6" offset-sm="3">
        <ion-card  >
          <ion-card-header routerLink="/detail">
            <ion-avatar>
              <img src="https://miro.medium.com/max/526/0*nnYie3yap6MX3Ods.jpg">
            </ion-avatar>
            <div class="main-info">
              <p class="p-second" >Jose Luna</p>
              <p class="ita" >Managerial Economics </p>
              <p class="ita">UC Davis 2021</p>

            </div>

          </ion-card-header>
          <ion-card-content  >
            <p class="ppp" >Lorem Ipsum is simply dummy text of the 1500k a galley of type and scrambled it to make a type specimen book</p>

          </ion-card-content>

          <ion-card-content>
            <div class="lower-text  in-div ">
              <ion-icon color="primary" slot="icon-only" name="thumbs-up-sharp"></ion-icon>
              <ion-badge   color="transparent">11</ion-badge>

              <div  class=" in-div   ">
                <ion-icon color="warning" name="chatbox-sharp"></ion-icon>
                <ion-badge     color="transparent"> 20</ion-badge>
                <div class="in-div  ">
                  <ion-icon color="danger" name="eye-sharp"></ion-icon>
                  <ion-badge  color="transparent" >120</ion-badge>
                </div>


              </div>
            </div>

          </ion-card-content>
        </ion-card>
        <ion-card color="light" >
          <ion-card-header routerLink="/detail">
            <ion-avatar>
              <img src="https://miro.medium.com/max/526/0*nnYie3yap6MX3Ods.jpg">
            </ion-avatar>
            <div class="main-info">
              <p class="p-second" >Jose Luna</p>
              <p class="ita" >Managerial Economics </p>
              <p class="ita">UC Davis 2021</p>

            </div>

          </ion-card-header>
          <ion-card-content >
            <p class="ppp" >Lorem Ipsum is simply dummy text of the 1500k a galley of type and scrambled it to make a type specimen book</p>

          </ion-card-content>

          <ion-card-content>
            <div class="lower-text  in-div ">
              <ion-icon color="primary" slot="icon-only" name="thumbs-up-sharp"></ion-icon>
              <ion-badge   color="transparent">11</ion-badge>




            </div>

          </ion-card-content>
        </ion-card>

        <ion-card color="light" >
          <ion-card-header routerLink="/detail">
            <ion-avatar>
              <img src="https://miro.medium.com/max/526/0*nnYie3yap6MX3Ods.jpg">
            </ion-avatar>
            <div class="main-info">
              <p class="p-second" >Jose Luna</p>
              <p class="ita" >Managerial Economics </p>
              <p class="ita">UC Davis 2021</p>

            </div>

          </ion-card-header>
          <ion-card-content >
            <p class="ppp" >Lorem Ipsum is simply dummy text of the 1500k a galley of type and scrambled it to make a type specimen book</p>

          </ion-card-content>

          <ion-card-content>
            <div class="lower-text  in-div ">
              <ion-icon color="primary" slot="icon-only" name="thumbs-up-sharp"></ion-icon>
              <ion-badge   color="transparent">11</ion-badge>
            </div>
          </ion-card-content>
        </ion-card>
        <ion-card color="light" >
          <ion-card-header routerLink="/detail">
            <ion-avatar>
              <img src="https://miro.medium.com/max/526/0*nnYie3yap6MX3Ods.jpg">
            </ion-avatar>
            <div class="main-info">
              <p class="p-second" >Jose Luna</p>
              <p class="ita" >Managerial Economics </p>
              <p class="ita">UC Davis 2021</p>
            </div>
          </ion-card-header>
          <ion-card-content >
            <p class="ppp" >Lorem Ipsum is simply dummy text of the 1500k a galley of type and scrambled it to make a type specimen book</p>
          </ion-card-content>
          <ion-card-content>
            <div class="lower-text  in-div ">
              <ion-icon color="primary" slot="icon-only" name="thumbs-up-sharp"></ion-icon>
              <ion-badge   color="transparent">11</ion-badge>
            </div>
          </ion-card-content>
        </ion-card>

        <ion-card color="light" >
          <ion-card-header routerLink="/detail">
            <ion-avatar>
              <img src="https://miro.medium.com/max/526/0*nnYie3yap6MX3Ods.jpg">
            </ion-avatar>
            <div class="main-info">
              <p class="p-second" >Jose Luna</p>
              <p class="ita" >Managerial Economics </p>
              <p class="ita">UC Davis 2021</p>
            </div>
          </ion-card-header>
          <ion-card-content >
            <p class="ppp" >Lorem Ipsum is simply dummy text of the 1500k a galley of type and scrambled it to make a type specimen book</p>
          </ion-card-content>
          <ion-card-content>
            <div class="lower-text  in-div ">
              <ion-icon color="primary" slot="icon-only" name="thumbs-up-sharp"></ion-icon>
              <ion-badge   color="transparent">11</ion-badge>
            </div>
          </ion-card-content>
        </ion-card>


      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab   routerLink="/comment"  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  routerLink="/comment" color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<!--<ion-footer  >-->
<!--  <ion-toolbar>-->
<!--    <ion-textarea   placeholder="comment  here">-->

<!--    </ion-textarea>-->

<!--    <ion-button  fill="clear" >   <ion-icon name="arrow-forward-circle"></ion-icon>-->
<!--    </ion-button>-->
<!--  </ion-toolbar>-->

<!--</ion-footer>-->
