

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true">

    <ion-slide >
      <div class="slide">

        <img src="./assets/undraw_unlock_24mb.png"/>
        <h2>Welcome to</h2>
        <h2>UC Messenger!</h2>
        <p>Don't be afraid to ask questions!</p>

      </div>
    </ion-slide>

    <ion-slide>
      <img src="./assets/undraw_Social_networking_re_i1ex.png"/>
      <h2>Lend  a hand</h2>
      <p>Give advice to students who will be transfering soon</p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/undraw_my_app_re_gxtj.png"/>
      <h2>Stay connected</h2>
      <p>Get to know  studnets like you  and thier insterests!</p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/undraw_Co_workers_re_1i6i_1.png">
      <h2>Sign In</h2>
      <ion-button fill="clear" routerLink="/login">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
